.Box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.Box1{
    display: flex;
    justify-content: center;
    border: 2px solid gainsboro;
    border-radius: 12px;
}
.one,.four
{
  font-size: 25px;
 color: rgb(0, 150, 209);
}
.three
{
    font-size: 25px;
    color: yellow;
}
.five
{
    font-size: 25px;
    color: green;
}
.two,.Six
{
    font-size: 25px;
    color: red;
}
.Box2{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 80vh;
    border-radius: 0px;
    padding: 30px;
}
.google{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.heading{
    display: flex;
    align-items: end;
    justify-content: center;
}
#emailtext{
    width:38vw;
    display: flex;
    justify-content: center;
}
.name{
    display: flex;
    justify-content: space-between;
    margin: 22px 0px;
}
.link{
    display: flex;
    justify-content: space-between;
}
#text-none{
    text-decoration: none;
}
.link, a{
    text-decoration: none;
}
.password-rectangle{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.emailtext{
    display: flex;
    justify-content: space-between;
}
.Img-class{
    width: 19vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textarea{
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 0.8em;
}
.checkbox{
    display:flex;
    justify-content: left;

}
.meta-text{
    font-size: small;
}
.Large-Box{
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
.button{
    display: flex;
    justify-content: space-between;
}